.App {
  text-align: center;
  margin: 32px;
}

h1{
  margin-bottom: 0 !important;
}

.table-row-class {
  cursor: pointer;
}

.questions-table {
  max-width: 60vw !important;
  margin: 16px auto;
  border-radius: 10px;
  overflow: hidden;
  height: 80vh;
  overflow: auto;
}