.App {
  text-align: center;
  margin: 32px;
  color: white !important;
}

h1{
  margin-bottom: 0 !important;
}

.table-row-class {
  cursor: pointer;
}

.questions-table {
  max-width: 80vw !important;
  margin: 16px auto;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.questions-table,table,th,td,tr{
  background-color: #000 !important;
  color: white !important;
}